* {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh
}

.wraper {
    /* background-color: black; */
    
}

.corousel {
    margin: 7%;
    display: flex;
    justify-content: space-between;
    /* padding: 2rem; */
    /* background-color: blueviolet; */
    /* width: 100vh; */
}


.card-item {
    list-style: none;
    /* height: auto; */
    margin: 0.3rem;
    border: 2px solid;
    color: antiquewhite;
    position: relative;
}

.card-item img {
    width: 10rem;
    object-fit: cover;
}

.card-item p {
    position: absolute;
    top: ;

}

@media screen and (max-width: 576px) { 
    .card-item img {
        width: 7rem
    }
}